# 무거운 원본/중간 데이터는 절대 git에 올리지 않음
data/
ref/
index/
align/

# 시퀀싱/정렬 관련 대용량 파일 확장자 (혹시 다른 위치에 생겨도 방지)
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.sam
*.sra

# STAR 인덱스 관련 파일
SAindex
SA
Genome
Log.out
_STARtmp/

# R/OS 잡동사니
.Rhistory
.Rproj.user/
.DS_Store
